doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='qunit.css')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
    script(src='qunit.js')
    script(src='lib/cfunction.js')
    script(src='test/qtest.js')
    script(src='test/cfunction.js')
  body
    block content