doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='qunit.css')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
    script(src='qunit.js')
    script(src='lib/cfunction.js')
    script(src='test/qtest.js')
    script(src='test/cfunction.js')
	script.
	 test("exports.add", function() {
	  function add(a, b) {
	   equal(exports.add(a, b,), 60)
	   }
	   add(40, 20)
	  })
	  test("exports.multiply", function() {
	  function multiply(a, b) {
	   equal(exports.add(a, b,), 60)
	   }
	   add(30, 2)
	  })
	  test("exports.divide", function() {
	  function divide(a, b) {
	   equal(exports.add(a, b,), 6)
	   }
	   add(12, 2)
	  })
	  test("exports.subtract", function() {
	  function subtract(a, b) {
	   equal(exports.add(a, b,), 6)
	   }
	   add(10, 4)
	  })
    block content